<!--The content below is only a placeholder and can be replaced.-->
<!--
Material design for angular 2

https://github.com/angular/material2

-->


<md-sidenav-container id="sideNavContainer">
  <md-sidenav #sidenav  opened="false" id="pageSideNav">

    <div *ngIf="sectionEquations?.title" >


      <div id="headerNavBar">{{sectionEquations.title}}</div>

      <a routerLink="about" class="equationSelectButtons" >
        about page
      </a>

      <a *ngFor="let equation of sectionEquations.equations" class="equationSelectButtons" routerLink="equation/{{equation.title}}">
         {{equation.title}}
      </a>

    </div>
  </md-sidenav>
  <div id="pageContent">
    <img  (click)="sidenav.toggle()" id="toggleMenu" src="https://image.flaticon.com/icons/png/512/52/52152.png">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>
