<p>{{equation.title}}</p>
<mathjax-display [mathMLTextObserver]="mathMLTextObserver"></mathjax-display>
<div id="variableContainer" *ngIf="equation">
  <div  *ngFor="let variable of equation.variables">
    <div *ngIf="variable.type != 'Function'">
        <variable-display [variable]="variable"
                          [userInputSubject]="userInputSubject"></variable-display>
    </div>
    <div *ngIf="variable.type == 'Function'" >
      <equation-container [equationName]="variable.title">

      </equation-container>
      <p>working</p>
    </div>
  </div>


</div>
<p>{{finalValue}}</p>
